<section class="section section__chefs">
  <div class="container container__chefs">
    <h2 class="chefs chefs__title">
      Наши <span class="chefs chefs__span">Повара</span>
    </h2>
    <ul class="chefs chefs__list">
      <li class="chefs chefs__item">
        <img
          class="chefs chefs__photo"
          src="./images/cook-196932_1920 1.jpg"
          alt="Фото повара"
          width="290"
          height="380"
        />
      </li>
      <li class="chefs chefs__item">
        <img
          class="chefs chefs__photo"
          src="./images/pizza-366111_1280 1.jpg"
          alt="Фото повара"
          width="290"
          height="380"
        />
      </li>
      <li class="chefs chefs__item">
        <img
          class="chefs chefs__photo"
          src="./images/image 4.jpg"
          alt="Фото повара"
          width="290"
          height="380"
        />
      </li>
    </ul>
  </div>
</section>
