<section class="section section__dishes">
  <div class="container container__dishes">
    <h2 class="dishes dishes__title">
      Наши <span class="dishes dishes__span">Блюда</span>
    </h2>
    <div class="dishes dishes__wrapper">
      <div class="dishes dishes__thumb">
        <img
          class="dishes dishes__main-img"
          src="./images/mask-groupmobile1x.jpg"
          alt="Пицца"
          width="512"
          height="478"
        />
      </div>
      <ul class="dishes dishes__list">
        <li class="dishes dishes__item">
          <img
            class="dishes dishes__img"
            src="./images/hamburger-494706_1920_1.jpg"
            alt="Гамбургер"
            width="130"
            height="114"
          />
          <p class="dishes dishes__text">Гамбургер мини 220 грн</p>
        </li>
        <li class="dishes dishes__item">
          <img
            class="dishes dishes__img"
            src="./images/hamburger-494706_1920_1.jpg"
            alt="Гамбургер"
            width="130"
            height="114"
          />
          <p class="dishes dishes__text">Гамбургер мини 220 грн</p>
        </li>
        <li class="dishes dishes__item">
          <img
            class="dishes dishes__img"
            src="./images/hamburger-494706_1920_1.jpg"
            alt="Гамбургер"
            width="130"
            height="114"
          />
          <p class="dishes dishes__text">Гамбургер мини 220 грн</p>
        </li>
      </ul>
    </div>
  </div>
</section>
