<section class="section section__feedback">
  <div class="container container__feedback">
    <p class="feedback feedback__text">
      Я надолго запомню мой День рождения, проведённый в этом ресторане! Кусочек
      родной Армении!!! Отдельное спасибо за комплепент в виде фруктовой
      тарелки. Будем рекомендовать этот ресторан своим друзьям и родственникам
      также за рубежом, путешествующих в Киев!!!
    </p>
    <img
      class="feedback feedback__photo"
      src="./images/beard-1845166_1920 1.jpg"
      alt="Фото клиента"
      width="100"
      height="100"
    />
    <p class="feedback feedback__visitor">Посетитель</p>
    <p class="feedback feedback__client">Николай</p>
  </div>
</section>
