<section class="section section__feedback">
  <div class="container container__feedback">
    <button class="feedback feedback__btn-previously" type="button">
      <svg
        class="qwe"
        width="20"
        height="20"
        aria-label="Клик на следующий комментарий"
      >
        <use
          class="feedback feedback__btn--prev"
          href="./images/icons/arrow-right.svg#arrow-right"
        ></use>
      </svg>
    </button>
    <p class="feedback feedback__text">
      Я надолго запомню мой День рождения, проведённый в этом ресторане! Кусочек
      родной Армении!!! Отдельное спасибо за комплепент в виде фруктовой
      тарелки. Будем рекомендовать этот ресторан своим друзьям и родственникам
      также за рубежом, путешествующих в Киев!!!
    </p>
    <img
      class="feedback feedback__photo"
      src="./images/beard-1845166_1920 1.jpg"
      alt="Фото клиента"
      width="100"
      height="100"
    />
    <p class="feedback feedback__visitor">Посетитель</p>
    <p class="feedback feedback__client">Николай</p>

    <button class="feedback feedback__btn-next" type="button">
      <svg
        class="qwe"
        width="20"
        height="20"
        aria-label="Клик на следующий комментарий"
      >
        <use
          class="feedback feedback__btn--next"
          href="./images/icons/arrow-right.svg#arrow-right"
        ></use>
      </svg>
    </button>
  </div>
</section>
