<section class="section section__feedback">
  <div class="container container__feedback">
    <button class="feedback feedback__btn-previously" type="button">
      <svg
        class="qwe"
        width="20"
        height="20"
        aria-label="Клик на следующий комментарий"
      >
        <use
          class="feedback feedback__btn-prev"
          href="./images/icons/arrow-right.svg#arrow-right"
        ></use>
      </svg>
    </button>

    <div class="feedback feedback__slider">
      <div class="feedback feedback__line">
        <ul class="feedback feedback__list"></ul>
      </div>
    </div>

    <button class="feedback feedback__btn-next" type="button">
      <svg
        class="qwe"
        width="20"
        height="20"
        aria-label="Клик на следующий комментарий"
      >
        <use
          class="feedback feedback__btn--next"
          href="./images/icons/arrow-right.svg#arrow-right"
        ></use>
      </svg>
    </button>
  </div>
</section>
