<section class="section section__gallery">
  <div class="container container__gallery">
    <h2 class="gallery gallery__title">
      Галерея
      <span class="gallery gallery__span">Блюд</span>
    </h2>
    <div class="thumb">
      <div class="gallery gallery__wrapper">
        <img
          class="gallery gallery__vertical-img"
          src="./images/table-71380_1280_2mobile1x.jpg"
          alt="Бокалы"
          width="290"
          height="274"
        />
        <div class="gallery gallery__thumb">
          <img
            class="gallery gallery__small-img"
            src="./images/coffee-3120750_1920_1mobile1x.jpg"
            alt="Чашка капучино"
            width="290"
            height="274"
          />
          <img
            class="gallery gallery__small-img"
            src="./images/goulash-6054124_1920_2mobile1x.jpg"
            alt="Гуляш"
            width="290"
            height="274"
          />
        </div>
      </div>
      <div class="gallery gallery__wrapper">
        <div class="gallery gallery__thumb--reversed">
          <img
            class="gallery gallery__small-img"
            src="./images/coffee-3120750_1920_1mobile1x.jpg"
            alt="Чашка капучино"
            width="290"
            height="274"
          />
          <img
            class="gallery gallery__small-img"
            src="./images/goulash-6054124_1920_2mobile1x.jpg"
            alt="Гуляш"
            width="290"
            height="274"
          />
        </div>
        <img
          class="gallery gallery__vertical-img--reversed"
          src="./images/table-71380_1280_2mobile1x.jpg"
          alt="Бокалы"
          width="290"
          height="274"
        />
      </div>
    </div>
  </div>
</section>
