<section id="main" class="section section__hero">
  <div class="container container__hero">
    <div class="hero hero__wrapper">
      <h1 class="hero hero__title">
        Добро пожаловать в <span class="hero hero__span">Наш ресторан</span>
      </h1>
      <div class="hero hero__thumb">
        <p class="hero hero__text">Дом лучшей еды</p>
        <button
          type="button"
          class="button button__primary--hero"
          aria-label="кнопка обзора меню ресторана"
        >
          view menu
        </button>
      </div>
    </div>
  </div>
</section>
