<section id="about" class="section section__history">
  <div class="container container__history">
    <div class="history history__wrapper">
      <h2 class="history history__title">
        Наша <span class="history history__title--span">История</span>
      </h2>
      <p class="history history__description">
        Как и у любого другого самобытного места, у нас есть своя, особая
        история. Идея ресторана пришла основателям неожиданно. Во время прогулки
        по лесу создатель нашего ресторана застрял в сотнях километров от
        ближайшего населенного пункта. Вдали от цивилизации и связи им пришлось
        навремя обустровать себе нехитрый быт, добывать и готовить себе еду.
      </p>
      <ul class="history history__list">
        <li class="history history__item">
          <span class="history history__span">93</span>
          <p class="history history__text">Напитки</p>
        </li>
        <li class="history history__item">
          <span class="history history__span">206</span>
          <p class="history history__text">Еда</p>
        </li>
        <li class="history history__item">
          <span class="history history__span">71</span>
          <p class="history history__text">Закуски</p>
        </li>
      </ul>
    </div>
    <div class="history history__image-wrapper">
      <img
        class="history history__img--food"
        src="./images/233] 1.png"
        alt="Стол с едой"
        width="126"
        height="155"
      />
      <img
        class="history history__img--cake"
        src="./images/430 1.jpg"
        alt="Зелёное пироженное"
        width="137"
        height="222"
      />
      <img
        class="history history__img--table"
        src="./images/255 1.jpg"
        alt="Стол с салфетками"
        width="137"
        height="155"
      />
      <img
        class="history history__img--box"
        src="./images/design box.jpg"
        alt="Молочный фон"
        width="114"
        height="164"
      />
    </div>
  </div>
</section>
