<section class="section section__intro">
  <div class="container container__intro">
    <ul class="intro intro__list">
      <li class="intro intro__item">
        <svg class="intro intro__svg" width="87" height="87">
          <use
            class="intro intro__icon"
            href="./images/icons/mask.svg#mask"
            width="87"
            height="87"
          ></use>
        </svg>

        <h2 class="intro intro__title">
          Магическая <span class="intro intro__span">Атмосфера</span>
        </h2>
        <p class="intro intro__text">
          В нашем заведении царит магическая атмосфера наполненная вкусными
          ароматами
        </p>
      </li>
      <li class="intro intro__item">
        <svg class="intro intro__svg" width="87" height="87">
          <use href="./images/icons/mask.svg#mask" width="87" height="87"></use>
        </svg>

        <h2 class="intro intro__title">
          Лучшее качество <span class="intro intro__span">Еды</span>
        </h2>
        <p class="intro intro__text">
          Качество нашей <br />
          Еды - отменное!
        </p>
      </li>
      <li class="intro intro__item">
        <svg class="intro intro__svg" width="87" height="87">
          <use
            class="intro intro__icon"
            href="./images/icons/mask.svg#mask"
          ></use>
        </svg>

        <h2 class="intro intro__title">
          Недорогая <span class="intro intro__span">Еда</span>
        </h2>
        <p class="intro intro__text">
          Стоимость нашей Еды зависит только от ее количества. Качество всегда
          на высоте!
        </p>
      </li>
    </ul>
  </div>
</section>
