<section class="section section__menu">
  <div class="container container__menu">
    <h2 class="menu menu__title">Наше меню</h2>
    <ul class="menu menu__list">
      <li class="menu menu__item">
        <div class="wrapper"></div>
        <span class="menu menu__recommended">recommended</span>
        <img
          class="menu menu__img"
          src="./images/abstract-1238247_1920 1.jpg"
          alt="Гамбургер"
          width="225"
          height="225"
        />
        <p class="menu menu__label">
          <span class="menu menu__span">420</span>
        </p>
        <h3 class="menu menu__burger-name">Гамбургер макси</h3>
        <p class="menu menu__text">Максимально толстый слой мяса</p>
        <button class="button button__secondary">Заказать</button>
      </li>
      <li class="menu menu__item">
        <div class="wrapper"></div>
        <img
          class="menu menu__img"
          src="./images/abstract-1238247_1920 1.jpg"
          alt="Гамбургер"
          width="225"
          height="225"
        />
        <p class="menu menu__label">
          <span class="menu menu__span">420</span>
        </p>
        <h3 class="menu menu__burger-name">Гамбургер макси</h3>
        <p class="menu menu__text">Максимально толстый слой мяса</p>
        <button class="button button__secondary">Заказать</button>
      </li>
      <li class="menu menu__item">
        <div class="wrapper"></div>
        <img
          class="menu menu__img"
          src="./images/abstract-1238247_1920 1.jpg"
          alt="Гамбургер"
          width="225"
          height="225"
        />
        <p class="menu menu__label">
          <span class="menu menu__span">420</span>
        </p>
        <h3 class="menu menu__burger-name">Гамбургер макси</h3>
        <p class="menu menu__text">Максимально толстый слой мяса</p>
        <button class="button button__secondary">Заказать</button>
      </li>
    </ul>
  </div>
</section>
