<!-- мобильное меню

<div class="mobile-menu">
  <div class="mobile-menu mobile-menu__container">
    <nav class="mobile-menu mobile-menu__navigation">
      <ul class="mobile-menu mobile-menu__list">
        <li class="mobile-menu mobile-menu__item">
          <a class="mobile-menu mobile-menu__link" href="">Главная</a>
        </li>
        <li class="mobile-menu mobile-menu__item">
          <a class="mobile-menu mobile-menu__link" href=""></a>Меню
        </li>
        <li class="mobile-menu mobile-menu__item">
          <a class="mobile-menu mobile-menu__link" href=""></a>О нас
        </li>
        <li class="mobile-menu mobile-menu__item">
          <a class="mobile-menu mobile-menu__link" href=""></a>Бронь
        </li>
      </ul>
    </nav>
  </div>
</div> -->
