<div class="view-menu view-menu__backdrop">
  <div class="view-menu view-menu__modal-container">
    <h2 class="view-menu view-menu__title">Список меню нашего ресторана</h2>
    <ul class="view-menu view-menu__list"></ul>
    <button
      type="button"
      class="view-menu view-menu__btn-close"
      aria-expanded="false"
      aria-controls="menu-container"
    >
      <svg width="31" height="31" aria-label="Закрытие меню обзора блюд">
        <use
          class="view-menu view-menu__burger-close"
          href="./images/icons/close-icon.svg#close"
        ></use>
      </svg>
    </button>
  </div>
</div>
