<div class="view-menu view-menu__backdrop">
  <div class="view-menu view-menu__modal-container">
    <h2 class="view-menu view-menu__title">Список меню нашего ресторана</h2>
    <ul class="view-menu view-menu__list">
      <li class="view-menu view-menu__item"></li>
    </ul>
    <button
      type="button"
      class="view-menu view-menu__btn-close"
      aria-expanded="false"
      aria-controls="menu-container"
    >
      <svg width="31" height="31" aria-label="Закрытие меню обзора блюд">
        <use
          class="view-menu view-menu__burger-close"
          href="./images/icons/close-icon.svg#close"
        ></use>
      </svg>
    </button>
  </div>
</div>

<!-- import axios from "axios";

const options = {
  method: 'GET',
  url: 'https://favoritefoodapi.p.rapidapi.com/food/api/v1/favorites',
  headers: {
    'X-RapidAPI-Key': 'SIGN-UP-FOR-KEY',
    'X-RapidAPI-Host': 'favoritefoodapi.p.rapidapi.com'
  }
};

axios.request(options).then(function (response) {
	console.log(response.data);
}).catch(function (error) {
	console.error(error);
}); -->
