.button {
  padding: 14px 18px;
  background-color: var(--primary-button-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.36;
  text-transform: uppercase;
  border-color: transparent;
  border-radius: 4px;
  color: var(--white-color);

  &:hover {
    cursor: pointer;
  }
}

.button__secondary {
  background-color: var(--primary-title-color);
  padding: 14px 67px;
  border: transparent;
}

.button__primary--celebrate {
  display: block;
}

.button__primary--footer,
.button__primary--header {
  display: none;

  @include mq(desktop) {
    display: block;
  }
}
