.section__feedback {
  background-color: rgba(229, 229, 229, 1);
}

.container__feedback {
  position: relative;
  padding: 11px 15px 25px;

  @include mq(desktop) {
    padding: 104px 260px;
  }
}

.feedback__text {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.35;
  text-align: center;

  @include mq(mobile) {
    padding-left: 10px;
    padding-right: 10px;
  }

  // @include mq(tablet) {
  //   width: 767px;
  // }

  @include mq(desktop) {
    font-size: 20px;
  }
}

.feedback__photo {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  margin-bottom: 5px;

  @include mq(desktop) {
    margin-bottom: 17px;
  }
}

.feedback__visitor,
.feedback__client {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.35;
  text-align: center;

  @include mq(desktop) {
    margin-bottom: 9px;
  }
}

.feedback__client {
  margin-bottom: 0;
  font-weight: 400;
}

.feedback__btn-next {
  z-index: 1000;
  position: absolute;
  top: 50%;
  margin: 0;
  padding: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @include mq(mobile) {
    right: -5%;
  }

  @include mq(tablet) {
    right: -40%;
  }

  @include mq(desktop) {
    right: 10%;
  }
}

.feedback__btn-previously {
  z-index: 1000;
  position: absolute;
  top: 50%;
  margin: 0;
  padding: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transform: rotate(180deg);

  @include mq(mobile) {
    left: -5%;
  }

  @include mq(tablet) {
    left: -40%;
  }

  @include mq(desktop) {
    left: 10%;
  }
}

.feedback__slider {
  max-width: 1024px;
  // border: 2px solid black;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
}

.feedback__line {
  position: relative;
  left: 0;
  transition: all 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.feedback__list {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.feedback__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include mq(mobile) {
    min-width: 290px;
  }

  @include mq(desktop) {
    min-width: 900px;
  }
}
