.section__header {
  padding-bottom: 0;
}
.container__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 0;

  @include mq(tablet) {
    min-width: 768;
    // padding-bottom: 100px;
  }
}

.header-nav {
  @include mq(tablet) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  @include mq(desktop) {
    display: flex;
    flex-direction: row;
  }
}

.header-nav__list {
  display: none;

  position: relative;
  // display: flex;
  margin-right: 34px;
  padding-right: 70px;
  border-right: 1px solid var(--white-color);

  @include mq(desktop) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &::after {
    content: '';
    position: absolute;
    top: -50%;
    right: 0;
    width: 20px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(./../images/icons/cart.svg);
    transform: translate(-50%, 50%);
    // transform: translateX(50%);

    cursor: pointer;
  }
}

.header-nav__item {
  margin-right: 23px;

  &:last-child {
    margin-right: 0;
  }
}

.header-nav__link {
  font-weight: 700;
  padding: 20px 0;
  font-size: 14;
  line-height: 1.36;
  color: var(--white-color);
}

.header__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0;

  @include mq(tablet) {
    margin-right: 45px;
  }

  @include mq(desktop) {
    margin-right: 45px;
  }
}

.header__tel {
  position: relative;
  padding-left: 15px;
  margin-bottom: 7px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.36;
  text-align: center;
  color: var(--white-color);

  @include mq(desktop) {
    font-size: 18px;
    padding-left: 30px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(./../images/icons/phone.svg);
    cursor: pointer;

    @include mq(desktop) {
      width: 23px;
      height: 23px;
    }
  }
}
.header__text {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.36;
  color: var(--white-color);
  text-align: center;

  @include mq(desktop) {
    font-size: 14px;
  }
}
