// .section__hero {
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: contain;
//   background-image: url(./../images/hero_image.jpg);
// }

.container__hero {
  margin: 0;
  padding: 0;
  padding-top: 260px;
  padding-bottom: 304px;

  margin-left: auto;
  margin-right: auto;

  @include mq(desktop) {
    margin: 0;
    padding-left: 130px;
    padding-top: 200px;
    padding-bottom: 231px;
  }
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include mq(desktop) {
    width: 560px;
  }
}

.hero__title {
  margin-bottom: 12px;
  font-family: 'Tinos';
  font-size: 30px;
  font-weight: 400;
  line-height: 1.14;
  text-align: center;
  color: var(--primary-title-color);
  width: 290px;

  @include mq(desktop) {
    font-size: 50px;
    width: 556px;
  }
}

.hero__span {
  font-family: 'Tinos';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.15;

  @include mq(desktop) {
    font-size: 80px;
  }
}

.hero__thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__text {
  position: relative;
  margin-bottom: 21px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.39;
  text-transform: uppercase;
  color: var(--white-color);

  @include mq(desktop) {
    font-size: 18px;

    &::before {
      content: '';
      position: absolute;
      left: -70px;
      top: 50%;
      width: 61px;
      height: 2px;
      background-color: var(--white-color);
    }

    &::after {
      content: '';
      position: absolute;
      right: -70px;
      top: 50%;
      width: 61px;
      height: 2px;
      background-color: var(--white-color);
    }
  }
}

.button__primary--hero {
  padding: 14px 28px;
}
